body{
    background-color: aqua;
}

.newsletter{

    background-color: aliceblue;
    margin-left: 250px;
    width: 900px;
    border: 2px;
}
.name{
    display: flex;
    font-size: 40px;
    justify-content: center;
    font-family: fantasy;
}
.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: solid;
    border-bottom: solid;

}
.info__izq {
    width: 15%;
    text-align: center;
}
.info__dere{
    
    width: 7%;
    text-align: center;
}
.title{
    background-color: orangered;
    
}
.title  h1{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;  
}
.content{
    background-color: orange;
}
